# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.ipynb
*.DS_Store
.vscode/
*.pickle
*-checkpoint.py
wandb/
outputs/
models/
*.json

**.npz
**.safetensorspurejaxql/.schemas
purejaxql/.schemas
load_env.sh
pyproject.toml
uv.lock


